USE [QLDSV]
GO
/****** Object:  StoredProcedure [dbo].[SP_GENSINHVIEN]    Script Date: 10/29/2019 20:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GENSINHVIEN]
@numrow INT
AS
BEGIN
	DELETE FROM DIEM
	DELETE FROM SINHVIEN
	DECLARE @Id INT
	SET @Id = 1
	WHILE @Id <= @numrow
	BEGIN 
	   DECLARE @lop NVARCHAR(20)
	   SELECT @lop = (SELECT TOP 1 MALOP FROM LOP ORDER BY NEWID())
	   INSERT INTO SINHVIEN (MASV, MALOP)
	   VALUES (CAST(@Id as nvarchar(12)), CAST(@lop AS NVARCHAR(20)))
	   SET @Id = @Id + 1
	END
END